<h1>MakersBnB<h1>

<h2>Hello <%= @name %><h2>

<p>Listings</p>

<ul>
  <% @listings.each do |listing| %>
  <li> <%= listing.title %>
    <form action="/confirmation/<%= listing.id %>" method="post">
      <input type="submit" value="book <%= listing.title %>">
    </form>
    <%= listing.description %>
    <%= listing.creator_id %>
  </li>
  <% end %>
</ul>

<form action="/spaces/new" method="get">
  <input type="submit" value="Add a new listing">
</form>
