<h1>MakersBnB<h1>

<h2>Hello <%= @name %><h2>

  <form action="/spaces/new" method="get">
    <input type="submit" value="Add listing">
  </form>

  <form class="" action="/login" method="get">
    <input type="submit" value="Log in">
  </form>

  <form class="" action="/session/destroy" method="post">
    <input type="submit" value="Signout">
  </form>

<p>Listings</p>

<ul>
  <% @listings.each do |listing| %>
  <li> <%= listing.title %>
    <form action="/confirmation" method="get">
      <input type="submit" value="book <%= listing.title %>">
    </form>
    <%= listing.description %>
    <%= listing.creator_id %>
  </li>
  <% end %>
</ul>
